/*
//*BearWind Template For Typecho
//*Author:WhiteBear
*/

.cpright {
padding: 10px;
background: rgba(220, 220, 220, 0.1);
margin: 8px 0;
font-size: 13px;
border-left: 3px #111111 solid;
position: relative;
z-index: 1;
font-family: "Microsoft Yahei","Droid Serif",Georgia,"Times New Roman",STHeiti,serif;
text-align: left;
}
.cpright a:hover {
color: #111111!important;
}
.cpright a {
color: #999!important;
margin: 4px;
border-bottom: 0px solid #999!important;
}